$jsYellow: #EEBA00;
$mainBackground: #160C28;
$lightBackground: #502B92;
$lightGreen: #00A9A5;
$greenMedium: #0B5351;
$darkenBlue: #0F222E;
$lakeGreen: #08352E;
$darkRed: #3E131B;
$orangeDescription: #F08700;
$cherryBackground: #801336;
$lightYellow: #FFD25A;
$ultraLightYellow: #EBF5DF;
@import url('https://fonts.googleapis.com/css2?family=B612&display=swap');


*{
    margin: 0em;
    padding: 0;
    box-sizing: border-box;
    font-family: 'B612', sans-serif;
}
body{
    background-color: $cherryBackground;

}
.main.home{
    background-image: radial-gradient(circle 130rem at bottom, $lightBackground, $mainBackground, $mainBackground);
}
.main.example{
    background-color: $cherryBackground;
}
.main.portfolio{
    background-color: $cherryBackground;
    height: auto;
}
.main.contact{
    background: #F08700;
    height: 100vh;
}
js-message{
    background: $jsYellow;
    color: black;
    font-size: 2.7rem;
    padding:0 .6rem 0 .6rem;
    letter-spacing: 0rem;
    font-weight: 900;
    border-radius: .1rem;
    
}
.main-message{
    color:white;
    h1{
        font-weight: 100;
    }
}
.nav-menu{
    color: white;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
    margin-left: auto;
    position: absolute;
    top: 0;
    right: 0;
    
    .menu-button{
        margin-left: 3.5rem;
        cursor: pointer;
        font-weight: 100;
        font-size: 2rem;
    }
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    .main-message{
        width: 60%;
        p{
            font-size: 2rem;
        }
    }

}
.selected-line{
    transition: all .4s;
    height: 0.1rem;
    width: 7.5rem;
    background: white;
    position: absolute;
}
.spaceship,
.moon{
    position: absolute;
    width: 10rem;
    height: 10rem;
    background-repeat: no-repeat;
}
.svg-image-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1999;
    img{
        position: absolute;
        user-select: none;
    }
    
}


.loading-bar{
    transition: width 4s ease;
    height: .5rem;
    position: fixed;
    top: 0em;
    left: 0em;
    background-color: white;
    z-index: 1000000;
    width: 0%;
}
.loading-bar.medium{
    width: 50%;
}
.loading-bar.complete{
    width: 100%;
}

.hide-item{
    display: none;
}


.portfolio-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    grid-gap: 3rem 2.3rem;
    margin-top: 16vh;
    .project{
        background-color: $mainBackground;
        width: 258px;
        height: 258px;
        border-radius: 1rem; 
        transition: all .7s ease-in-out;
        transform-style: preserve-3d;
        cursor: pointer;

        justify-self: center;
        align-self: center;
        &:hover{
            transform: rotateY(180deg);
            box-shadow: 10px 9px 10px rgba($color: #000000, $alpha: .5);
        }

        .card{
            height: 100%;
            width: 100%;
            position: absolute;
            padding: 0;
        }   
        .visible{
            backface-visibility: hidden;
            .project-image{
                width: 100%;
                height: 100%;
                background-size: cover;
                border-radius: 1rem;
                background-position: top;
            }
        }
        .hidden{
            transform: rotateY(180deg);
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            flex-direction: column;
            .title{
                width: 70%;
                background: $lightYellow;
                font-size: 1.5rem;
                font-weight: 100;
                color: $darkRed;
                margin-bottom: 1rem;
                text-align: center;
            }
            .description{
                width: 100%;
                height: 3rem;
                border-bottom-left-radius: 1rem;
                border-bottom-right-radius: 1rem;
                background-color: $orangeDescription;
                padding: .3rem;
                p{
                    color: white;
                    font-size: 1rem;
                    text-align: center;
                }
            }
            .links{
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin: 1rem 0;
                padding: 0 1rem;
            }
            .link{
                width: 3rem;
                height: 3rem;
                background: $lightYellow;
                color: $mainBackground;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                margin-right: 1rem;
                font-size: 2.5rem;
            }
        }
    }
    .empty-project{
        overflow: hidden;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        position: relative;
        &:hover{
            transform: unset;
            box-shadow: unset;
        }
        .coming-soon-banner{
            background: $orangeDescription;
            color: white;
            text-align: center;
            transform: rotate(45deg);
            position: absolute;
            top: 3rem;
            right: -3rem;
            width: 100%;
            cursor: default;
        }
    }
}

.svg-robot{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-repeat: no-repeat;
    background-position: -6rem -6rem;
    background-size: 200vh;
}
.contact{
    *{
        z-index: 2;
    }
    .svg-robot{
        z-index: 1;
    }
    .darkLayer{
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: .4);
        z-index: 10;
    }
    .notification-box{
        transition: all .4s;
        position: fixed;
        width: 20%;
        height: 20vh;
        background-color: $orangeDescription;
        top: 40vh;
        left: 40%;
        color: $darkenBlue;
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        border-radius: .3rem 3rem;
        z-index: 20;
        .message{
            text-align: center;
            font-size: 1rem;
        }
        .floating-message{
            position: absolute;
            font-size: .5rem;
            top: 2.7rem;
            left: 7.3rem;
            .arrow{
                position: absolute;
                right: -2.5rem;
                top: .25rem;
                width: 2rem;
                height: 2rem;
                background: transparent;
                border-top: .1rem solid $darkRed;
                border-right: .1rem solid $darkRed;
                border-bottom: .1rem solid $darkRed;
                border-top-right-radius: 10rem;
                border-bottom-right-radius: 10rem;
                &::after{
                    content: '';
                    position: absolute;
                    width: 0em;
                    height: 0;
                    top: 1.3rem;
                    left: -1rem;
                    border-top: .5rem solid transparent;
                    border-right: .5rem solid $mainBackground;
                    border-bottom: .5rem solid transparent;
                    border-left: .5rem solid transparent;
                }

            }
        }
        .happy-face{
            position: relative;
            width: 2rem;
            height: 1.5rem;
            background: transparent;
            border: .1rem solid $mainBackground;
            border-radius: 0 0 50% 50%;
            transition: all .4s;
            cursor: pointer;
            &:hover{
                &::after{
                    box-shadow: none;
                }
                &::before{
                    content: '';
                    position: absolute;
                    width: 1rem;
                    height: .2rem;
                    background: $mainBackground;
                    border-radius: 10rem;
                    top: -1rem;
                    right: 0rem;
                }
            }
            &::after{
                content: '';
                position: absolute;
                width: .2rem;
                height: 1rem;
                background: $mainBackground;
                border-radius: 10rem;
                top: -1.5rem;
                left: .3rem;
                box-shadow: 1rem 0 0 $mainBackground;
            }

        }
        .options{
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            .option{
                background: $lightYellow;
                color: $darkRed;
                width: 5rem;
                text-align: center;
                padding: .4rem 1rem;
                cursor: pointer;
                border-radius: .1rem 1rem;
                transition: all .4s;
                user-select: none;
                &:hover{
                    background: $cherryBackground;
                    color: white;
                }
            }
        }
    }
    .main-section{
        width: 70%;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        align-self: start;
        margin-top: 10rem;
        .contact-form{
            height: auto;
            width: 28rem;
            background-color: $cherryBackground;
            border-radius: .5rem;
            padding: 1rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            .input-container{
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin-bottom: 1.5rem;
                align-items: center;
                .contact-message{
                    color: white;
                    font-size: 2rem;
                    font-weight: 600;
                    -webkit-text-stroke-width: .08rem;
                    -webkit-text-stroke-color: black;
                }
                input[type=submit]{
                    border: 0;
                    font-size: 1rem;
                    background-color: $darkenBlue;
                    color: white;
                    padding:.5rem .6rem;
                    outline: none;
                    cursor: pointer;

                }
                
            }
            .text-container{
                height: auto;
                width: 100%;
                background-color: $ultraLightYellow;
                margin-bottom: 2rem;
                padding: 1rem;;

                transition: all .4s;

                border-radius: 1rem .1rem;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: column-reverse;
                label{
                    transition: all .4s;
                    height: 2rem;
                    overflow: hidden;
                }
                input:placeholder-shown ~ label,
                textarea:placeholder-shown ~ label{
                    height: 0;
                    opacity: 0;
                }
                input[type=email],
                input[type=text],
                textarea{
                    width: 100%;
                    border: 0em;
                    background: none;
                    resize: none;
                    font-size: 1.4rem;
                    outline: none;
                } 
            }
        }
        .links-menu{
            position: fixed;
            right: 2.3rem;
            display: flex;
            flex-direction: column;
            .contact-button{
                text-decoration: none;
                color: white;
                font-weight: 100;
                font-size: 2rem;
                margin-bottom: 1.5rem;
                width: 5rem;
                background: $darkenBlue;

                display: flex;
                justify-content: center;
                align-items: center;
                padding: .6rem 1rem;
                border-radius: .5rem;

                position: relative;
            }
            .email:not(:hover){
                .hover-message{
                    height: 0;
                    border-radius: 0;
                }
            }
            .email{
                z-index: 20;
                .hover-message{
                    transition: all .2s;
                    position: absolute;
                    font-size: .5rem;
                    width: 7rem;
                    top: 4rem;
                    height: 1.6rem;
                    background: $ultraLightYellow;
                    overflow: hidden;
                    border-radius: .2rem;
                    color: black;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &::after{
                        content: '';
                        border: 0 0 0 1rem 0;
                    }
                }
            }
        }
    }
    .footer{
        position: fixed;
        bottom: 0em;
        height: 5.5rem;
        width: 100%;
        background: $mainBackground;
        z-index: 0;
        color: white;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 1rem;
        i{
            color: $cherryBackground;
        }
        secret{
            color: rgba($color: white, $alpha: .1);
        }
    }

}
